* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: #121212;
    color: white;
}

/* NAV */
.navbar {
    width: 100%;
    padding: 15px 40px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: 700;
}

.logo span {
    color: #ffdd33;
}

/* MENU */
.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
    transition: 0.3s;
}

.navbar ul li a:hover,
.active {
    color: #ffdd33 !important;
}

/* HERO */
.colorful-gradient {
    background: linear-gradient(135deg, #ff512f, #dd2476, #24c6dc, #514a9d);
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 55px;
    font-weight: 700;
}

.hero span {
    color: #ffdd33;
}

.btn {
    margin-top: 20px;
    padding: 12px 28px;
    background: #ffdd33;
    color: black;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
}

/* PAGE */
.page {
    max-width: 900px;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
}

/* COLORFUL CARD */
.colorful-card {
    background: linear-gradient(135deg, #ff512f, #dd2476);
    padding: 30px;
    border-radius: 12px;
}

/* TRAVEL */
.travel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
}

.travel-card {
    background: #1e1e1e;
    border: 1px solid #ffdd33;
    padding: 20px;
    border-radius: 10px;
    font-weight: 600;
}

/* PROJECT */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.project-card {
    background: #1e1e1e;
    border: 2px solid #ffdd33;
    padding: 25px;
    border-radius: 10px;
    font-weight: 600;
}
